* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* default font size is 10px*/
  /* 10px divided by 16px = 0.625 = 62.5% */
  /* percentage of user's browser font-size setting */
  font-size: 62.5%;
  overflow-x: hidden;
  /* scroll-behavior: smooth; */
}

body {
  /* outline: red 1px solid; */
  font-family: Montserrat;
  /* background-image: url("images/background.webp");
  background-repeat: no-repeat; */
  position: relative;
  overflow: hidden;
  overflow-x: hidden;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("images/background.webp");
  background-size: cover;
  background-position: center;
  filter: blur(3px);
  z-index: -1;
}

nav {
  background-color: transparent;
  padding: 2.4rem;
  position: sticky;
  height: 1rem;
  top: 0;
  z-index: 100;
  margin-left: 8rem;
  font-family: Montserrat;
}

/*---------------- NAV SECTION ------------------*/
/* .container {
  background-image: url("images/background.webp");
  background-repeat: no-repeat;
} */

.header {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-around;
  background-color: transparent;
  height: 6rem;
  padding: 0 2rem;
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 10rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  font-size: 1.6rem;
  transition: all 0.3s;
}

.main-nav-link:active,
.main-nav-link:hover {
  color: #efbf04;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 0.9rem;
  color: #fff;
  background-color: #efbf04;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #fff;
  color: #333;
}

.cta-btn {
  padding: 1rem 2.4rem;
  border-radius: 2rem;
  margin-top: -1rem;
  font-size: 1.6rem;
  color: black;
  cursor: pointer;
  background-color: #efbf04;
  border: none;
}

/*---------------- NAV SECTION ------------------*/
/* MOBILE */
/*---------------- NAV SECTION ------------------*/
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #fff;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/*---------------- HERO SECTION ------------------*/
/*---------------- HERO SECTION ------------------*/
/*---------------- HERO SECTION ------------------*/
.hero-section {
  height: 110vh;
  padding: 6rem;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 20rem; */
}

.hero-container {
  max-width: 1280px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4rem;
  margin-top: 16rem;
  margin-left: 10rem;
}

.hero-image {
  max-width: 84rem;
  align-self: center;
}

.hero-image img {
  /* padding: 4rem; */
  width: 100%;
}

.hero-text {
  align-self: center;
  color: #fad14b;
  text-align: center;
}

.hero-header {
  font-family: Sofia;
  font-size: 4rem;
  margin-bottom: 4rem;
}

.hero-date {
  font-size: 1.2rem;
  margin-bottom: 1.8rem;
}

.hero-quote {
  font-size: 2.4rem;
  font-family: Sacramento;
}

.funeral-details {
  align-self: center;
  color: #fad14b;
  text-align: center;
  font-size: 2.2rem;
}

/*---------------- TRIBUTES SECTION ------------------*/
/*---------------- TRIBUTES SECTION ------------------*/
/*---------------- TRIBUTES SECTION ------------------*/
.section-title {
  color: #ffffff;
  font-family: Sacramento;
  text-align: center;
  font-size: 8rem;
}

.tributes-section {
  padding: 5rem 9.6rem;
  margin-top: 8rem;
  /* background-color: #fff; */
}
.tributes-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.tributes-card {
  border: 1px white solid;
  padding: 3rem;
}
.tributes-text {
  color: #999595;
}
